:root{
    --border-table: #dee2e6;
}

.article{

    &-container{
        padding: 100px 20px 0 200px;
        margin: auto;
        display: flex;
        gap: 8rem;
        max-width: 1000px;
    }

    &__add{
        font-size: 1rem;
        cursor:pointer;

        &::before{
            font-size: 1.4rem;
        }

        &:hover::before{
            color: blue;
        }
    }

}